@page
@using NexaWorksTicket.Core.Services
@model IndexModel
@inject ITicketService _ticketService;

@{
    ViewData["Title"] = "Accueil";
    
    
}

<div class="container">
    <h1>Accueil</h1>
    <p>Bienvenue sur NexaWorksTicket</p>
    
</div>
